@font-face {
  font-family: "CeraGR-Regular";

  //   src: url("./ Cera GR.otf") format("opentype");
  src: url("fonts/Cera GR.otf");
}
@font-face {
  font-family: "CeraGR-Black";
  src: url("fonts/Cera GR Black.otf");
}
@font-face {
  font-family: "CeraGR-Bold";
  //   font-weight: lighter;
  src: url("fonts/Cera GR Bold.otf");
}
@font-face {
  font-family: "CeraGR-BoldItalic";
  font-style: italic;
  src: url("fonts/Cera GR Bold Italic.otf");
}
@font-face {
  font-family: "CeraGR-Light";

  src: url("fonts/Cera GR Light.otf");
}
@font-face {
  font-family: "CeraGR-Light";
  font-style: italic;
  //   font-weight: lighter;
  src: url("fonts/Cera GR Light Italic.otf");
}
@font-face {
  font-family: "CeraGR-Medium";
  //   font-weight: lighter;
  src: url("fonts/Cera GR Medium.otf");
}
@font-face {
  font-family: "CeraGR-Medium";
  //   font-weight: lighter;
  font-style: italic;
  src: url("fonts/Cera GR Medium Italic.otf");
}

@font-face {
  font-family: "CeraGR-RegularItalic";
  font-style: italic;
  src: url("fonts/Cera GR Regular Italic.otf");
}
@font-face {
  font-family: "CeraGR-Thin";
  //   font-weight: lighter;
  // font-style: italic;
  src: url("fonts/Cera GR Thin.otf");
}
@font-face {
  font-family: "CeraGR-Thin";
  //   font-weight: lighter;
  font-style: italic;
  src: url("fonts/Cera GR Thin Italic.otf");
}

@font-face {
  font-family: "CF Asty Pro";
  font-weight: lighter;
  // font-weight: italic;
  src: url("fonts/AstyCFStd-Light.otf");
}

@font-face {
  font-family: "CF Asty Pro";
  font-weight: light;
  // font-weight: italic;
  src: url("fonts/AstyCFStd-Light.otf");
}

@font-face {
  font-family: "CF Asty Pro";
  font-weight: normal;
  // font-weight: italic;
  src: url("fonts/AstyCFStd-Light.otf");
}

@font-face {
  font-family: "CF Asty Pro";
  font-weight: bold;
  // font-weight: italic;
  src: url("fonts/AstyCFStd-Medium.otf");
}

@font-face {
  font-family: "CF Asty Pro";
  font-weight: bolder;
  // font-weight: italic;
  src: url("fonts/AstyCFStd-Light.otf");
}
