// Colors
$blue: #002f6c;
$light-blue: #63c6dc;
$dark-blue: #001838;
$red: #ff8275;
$dark-red: #842c41;
$brown: #af8373;
$green: #3bbba3;
$dark-green: #005c5d;
$gold: #cfa867;

// Media query breakpoints
$breakpoints: (
  "phone": 576px,
  "tablet": 769px,
  "laptop": 1025px,
  "desktop": 1200px,
);
