.resource-slider {
  position: relative;
  .slick-arrows {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: calc(50% - 25px);
    transform: translateY(-50%);
    z-index: 5;
    button {
      position: absolute;
      width: auto;
      height: auto;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      &:first-child {
        left: -55px;
        @include mq("phone", max) {
          left: 0;
        }
      }
      &:last-child {
        right: -55px;
        @include mq("phone", max) {
          right: 0;
        }
      }
    }
  }
  .slick-dots {
    bottom: -75px;
    .slick-active {
      div {
        text-decoration: underline;
        text-underline-position: under;
      }
    }
  }
}
.intro-section2 {
  position: relative;
  color: white;

  h1 {
    color: white;
    //styleName: Titles/h1/medium;
    font-family: CF Asty Pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  background: #373c40;
  header {
    background-color: transparent;
  }
}

.intro-section {
  position: relative;
  // background: linear-gradient(251.31deg, #63c6dc 28.54%, #002f6c 62.44%);
  background: linear-gradient(326.23deg, #63c6dc -105.87%, #002f6c 82.66%),
    linear-gradient(23deg, #63c6dc 11.87%, #002f6c 88.13%);
  //.your-class {
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='./back.svg' viewBox='0 0 600 200'%3E%3Cpath d='M10 10h123v123H10z'/%3E%3C/svg%3E");
  //}
  // background: linear-gradient(251.31deg, #63c6dc 28.54%, #002f6c 62.44%);
  overflow-x: hidden;
  & .back2 {
    background-image: url("../images/back.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: -286px 0;
    @include mq("tablet") {
      background-position: 386px 0;
    }
  }
  & .container2 {
    position: relative;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
  }

  header {
    background-color: transparent;
  }
}
.activity-section {
  position: relative;
  .container3 {
    position: relative;
  }
  & .back3 {
    content: '""';
    position: absolute;
    background-image: url("../images/path2.svg");
    background-repeat: no-repeat;
    top: 0;
    left: 45%;
    width: 100%;
    height: 100%;
  }
}
.homehero-section {
  a {
    font-family: "CeraGR-Medium";
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #002f6c;
  }
  .t-underline {
    text-decoration: underline;
  }
}
.activity-section {
  // margin: 88px 0;
  .content-box {
    margin-bottom: 28px;
  }
}

.showContainer {
  visibility: unset;
  opacity: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.hideContainer {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: all 0.3s ease-in-out;
}

.home-category {
  padding-bottom: 100px;
  border-bottom: 1px solid rgba(1, 47, 108, 0.2);
}
