.sticky-wrapper {
  position: sticky;
  top: 0;

  &--sticky {
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0px 14px 24px rgba(0, 47, 108, 0.07);
    z-index: 99999;
    // color: white;
    display: flex;

    justify-content: center;
    left: 0;
    width: 100vw;
  }
}
